<!DOCTYPE html>
<html lang="en">
  <title>Sarapis <%= title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The best SVG flags">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@remybarthez">
  <meta name="twitter:creator" content="@remybarthez">
  <meta name="twitter:title" content="thenew">
  <meta name="twitter:description" content="The best SVG flags">
  <meta property="og:title" content="Sarapis">
  <meta property="og:description" content="The best SVG flags">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Sarapis">
  <meta property="og:image" content="<%= typeof image != 'undefined' ? image : 'http://' + domain + '/public/app-icons/favicon.svg' %>">
  <meta property="og:url" content="http://<%= domain %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content=" black-translucent">
  <meta name="msapplication-TileColor" content="#00f">
  <meta name="theme-color" content="#00f">
  <link rel="icon" href=<%= typeof favicon != 'undefined' ? favicon : '/public/app-icons/favicon.svg' %>>
  <link rel="apple-touch-icon" href=<%= typeof favicon != 'undefined' ? favicon : '/public/app-icons/favicon.svg' %>>
  <link rel="logo" type="image/svg+xml" href="/public/app-icons/favicon.svg">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6617898/7632612/css/fonts.css">
  <link href="/public/css/0-main.css" rel="stylesheet">
  <link rel="preload" href="/public/fonts/noto-serif-v8-latin-regular.woff2" as="font">
  <body>
    <a class="skip-link" href="#maincontent">Skip to main</a>
    <div class="app page <%= pageClass %>">
      <header class="header">
        <a class="header-link" href="/">
          <span class="sr-only">Sarapis</span>
          <svg class="logo js-svg-dx" width="150" height="16" viewBox="0 0 175 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path style="transform: translateX(125px)" d="M00,00h25v16h-25z" fill="#0000FF"/>
            <path style="transform: translateX(100px)" d="M00,00h25v16h-25z" fill="#480CE8"/>
            <path style="transform: translateX(75px)"  d="M00,00h25v16h-25z" fill="#910DFF"/>
            <path style="transform: translateX(50px)"  d="M00,00h25v16h-25z" fill="#480CE8"/>
            <path style="transform: translateX(25px)"  d="M00,00h25v16h-25z" fill="#0000FF"/>
            <path style="transform: translateX(0)"     d="M00,00h25v16h-25z" fill="#0D8CFF"/>
          </svg>
          <script>
            const svgDx = document.querySelector('.js-svg-dx')
            svgDx.addEventListener('mouseover', () => {
              let paths = [...svgDx.querySelectorAll('.js-svg-dx path')].reverse().forEach((path, index) => {

                const d = path.getAttribute('d')
                const d1 = d.replace('h25v16', 'h50l-25,16')
                const d2 = d1.replace('l-25,16h-25', 'v16h-50')
                const d3 = d2.replace('h50', 'h25').replace('M00', 'M25')
                const d4 = d3.replace('h-50', 'h-25')
                const d5 = d4.replace('M25', 'M00')
                const delay = 200 + (index * 100)
                setTimeout(() => { path.setAttribute('d', d1) }, delay);
                setTimeout(() => { path.setAttribute('d', d2) }, delay * 2);
                setTimeout(() => { path.setAttribute('d', d3) }, delay * 3);
                setTimeout(() => { path.setAttribute('d', d4) }, delay * 4);
                setTimeout(() => { path.setAttribute('d', d5) }, delay * 5);
              })
            })
          </script>
        </a>
        <span class="beta">beta</span>
      </header>
      <div class="app-content">
