<%- include('partials/header', {title: data.title, image: data.src, favicon: data.src}) %>
<% if (data.title) { %>
  <div class="page-title-box">
    <h1 class="page-title"><%= data.title %></h1>
  </div>
<% } %>
<main id="maincontent" class="single-layout">
    <%- include('partials/gridItem.ejs', {key: ``, flag: data}); %>
    <div class="single-sidebar">

      <div class="srp-box code">
        <header class="srp-box-header">
          <div class="text">SVG code</div>
          <a class="side link" href="<%= data.src %>">> SVG file</a>
        </header>
        <pre class="srp-box-content pre"><code><%= include(data.src) %></code></pre>
      </div>

    <div class="srp-box">
      <header class="srp-box-header"><div class="text">Specs</div></header>
      <div class="srp-box-content">
        <ul>
          <% if(data.ratios && data.ratios.length) { %>
            <li><span class="spec-title">ratio</span><span class="spec-value"><%- data.ratios.join(',') %></span></li>
          <% } %>
          <li><span class="spec-title">colors</span><span class="spec-value">
            <ul class="colors">
              <% data.colors.forEach(color => { %>
                <li>
                  <div class="color" style="border-color: <%= color %>;">
                    <a href="/?colors=<%= color %>" class="color-swatch" style="background-color: <%= color %>;"></a>
                    <div class="color-label"><%= color %></div>
                  </div>
                </li>
              <% }) %>
            </ul>
          </span></li>
          <% if(data.sources && data.sources.length) { %>
            <li><span class="spec-title">sources</span><span class="spec-value">
              <ul>
                <% data.sources.forEach((source, index) => { %>
                  <% if(index) {%>,<% } %>
                  <li>
                    <a class="link" href="<%= source %>" target="_blank" rel="noopener noreferrer"><%= source %></a>
                  </li>
                <% }) %>
              </ul>
            </span></li>
          <% } %>
        </ul>
      </div>
    </div>
    <% if(data.note) { %>
      <div class="srp-box">
        <header class="srp-box-header"><div class="text">Note</div></header>
        <div class="srp-box-content">
          <p><%= data.note %></p>
        </div>
      </div>
    <% } %>
    <% if(data.trivia) { %>
      <div class="srp-box">
        <header class="srp-box-header"><div class="text">Trivia</div></header>
        <div class="srp-box-content">
          <p><%= data.trivia %></p>
        </div>
      </div>
    <% } %>
  </div>
</main>
<script>
  const color = '<%= data.colorAccents[0] %>';
  if(color) {
    document.documentElement.style.setProperty('--color1', color);

    setTimeout(() => {
      document.documentElement.style.setProperty('--color1', '<%= data.colorAccents[1] %>');
    }, 600);
  }

  setTimeout(() => {
    document.documentElement.classList.add('js-ready')
  }, 10);
</script>
<%- include('partials/footer') %>