<%- include('partials/header', {title: data.title, image: data.src, favicon: data.src}) %>
<% if (data.title) { %>
  <div class="page-title-box">
    <h1 class="page-title"><%= data.title %></h1>
  </div>
<% } %>
<main id="maincontent" class="single-layout">
    <%- include('partials/gridItem.ejs', {key: ``, flag: data}); %>
    <div class="singe-sidebar">

      <div class="srp-box code">
        <header class="srp-box-header"><div class="text">SVG code</div></header>
        <pre class="srp-box-content pre"><code><%= include(data.src) %></code></pre>
      </div>

    <div class="srp-box">
      <header class="srp-box-header"><div class="text">Specs</div></header>
      <div class="srp-box-content">
        <ul>
          <li><span class="spec-title">ratio</span><span class="spec-value"><%- data.ratios.join(',') %></span></li>
          <li><span class="spec-title">colors</span><span class="spec-value">
            <ul class="colors">
              <% data.colors.forEach(color => { %>
                <li>
                  <div class="color" style="border-color: <%= color %>;">
                    <a href="/?colors=<%= color %>"  class="color-swatch" style="background-color: <%= color %>;"></a>
                    <div class="color-label"><%= color %></div>
                  </div>
                </li>
              <% }) %>
            </ul>
          </span></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') %>