<%- include('partials/header', {title: data.title, image: data.src, favicon: data.src}) %>
<% if (data.title) { %>
  <div class="page-title-box">
    <h1 class="page-title"><%= data.title %></h1>
  </div>
<% } %>
<% if (data.src) { %>
  <div class="single-layout">
    <%- include('partials/gridItem.ejs', {key: ``, flag: data}); %>
    <div class="srp-box code">
      <header class="srp-box-header"><div class="text">SVG code</div></header>
      <pre class="srp-box-content"><code><%= include(data.src) %></code></pre>
    </div>
  </div>
<% } %>

<div class="sbox">
  <header class="sbox-header"><div class="text">Specs</div></header>
  <div class="sbox-content">
    <ul>
      <li><span class="spec-title">ratio</span><span class="spec-value"><%- data.ratio %></span></li>
      <li><span class="spec-title">colors</span><span class="spec-value">
        <%= data.colors.join(", "); %>
      </span></li>
    </ul>
  </div>
</div>
<%- include('partials/footer') %>