<% const labelV = typeof labelVisible !== 'undefined' ? labelVisible : label.charAt(0) %>
<input type="checkbox" class="checkbox" name="<%= name %>" id="<%= id %>" value="<%= id %>" <% if(checked) { %>checked<% } %>>
<label for="<%= id %>" class="label">
    <span class="sr-only"><%= label %>></span>
    <div class="label-initial"><%= labelV %></div>
</label>