<div class="filters">
    <form action="" method="get" class="filters-form">
        <%# fieldset can't be flexbox containers on Chrome %>
        <div class="fieldset">
            <div class="fieldset-label">Colors</div>
            <ul class="checkbox-boxes colors">
                <% Object.keys(data.filtersValues.colors).forEach(color => { %>
                    <% const {label = '', mainColorCode = '', dark = false} = data.filtersValues.colors[color] %>
                        <li class="checkbox-box <% if(dark){ %>dark<% } %>" style="background-color: <%= mainColorCode %>;">
                        <%- include('../templates/checkbox.ejs', {
                            name: 'colors', id: color, label: label, checked: data.params.getAll('colors').includes(color)
                        }) %>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="fieldset">
            <div class="fieldset-label">Number of colors</div>
            <ul class="checkbox-boxes">
                <% const numberColors = data.params.getAll('number-colors') %>
                <% data.filtersValues.numberColors.forEach(number => { %>
                    <li class="checkbox-box">
                        <%- include('../templates/checkbox.ejs', {
                            name: 'number-colors', id: number, label: number, checked: numberColors.includes(number)
                        }) %>
                    </li>
                <% }) %>
                <li class="checkbox-box">
                    <%- include('../templates/checkbox.ejs', {
                        name: 'number-colors', id: 'all', label: 'all', labelVisible: 'all', 
                        checked: (numberColors.includes('all') && numberColors.length === 1) || numberColors.length === 0 
                    }) %>
                </li>
            </ul>
        </div>
        <div class="fieldset">
            <input class="filters-search search-input" type="text" name="search" value="<%= data.params.get('search') %>">
        </div>
        <div class="fieldset">
            <div class="fieldset-label">View</div>
            <input class="filters-grid-size input-range" type="range" name="grid-size" min="10" max="50" value="<%= data.params.get('grid-size') %>">
        </div>
        <!-- <div class="fieldset">
            <button>ok</button>
        </div> -->
    </form>
</div>