<div class="filters">
    <form action="/" method="get" class="filters-form">
        <%# fieldset can't be flexbox containers on Chrome %>
        <div class="fieldset">
            <div class="fieldset-label">Categories</div>
            <ul class="checkbox-boxes">
                <% const categories = data.params.getAll('categories') %>
                <% data.filtersValues.categories.forEach(category => { %>
                    <li class="checkbox-box">
                        <%- include('../templates/checkbox.ejs', {
                            name: 'categories', id: category, label: category, labelVisible: category, checked: categories.includes(category)
                        }) %>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="fieldset">
            <div class="fieldset-label">Colors</div>
            <ul class="checkbox-boxes colors">
                <% Object.keys(data.filtersValues.colors).forEach(colorName => { %>
                    <% const {label = '', mainColorCode = '', dark = false} = data.filtersValues.colors[colorName] %>
                        <li class="checkbox-box <% if(dark){ %>dark<% } %>" style="background-color: <%= mainColorCode %>;">
                        <%- include('../templates/checkbox.ejs', {
                            name: 'colors', id: colorName, label: label, checked: data.params.getAll('colors').includes(colorName)
                        }) %>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="fieldset">
            <div class="fieldset-label">Number of colors</div>
            <ul class="checkbox-boxes">
                <% const numberColors = data.params.getAll('number-colors') %>
                <% data.filtersValues.numberColors.forEach(number => { %>
                    <li class="checkbox-box">
                        <%- include('../templates/checkbox.ejs', {
                            name: 'number-colors', id: number, label: number, checked: numberColors.includes(number)
                        }) %>
                    </li>
                <% }) %>
                <!-- <li class="checkbox-box">
                    <%- include('../templates/checkbox.ejs', {
                        name: 'number-colors', id: 'all', label: 'all', labelVisible: 'all', 
                        checked: (numberColors.includes('all') && numberColors.length === 1) || numberColors.length === 0 
                    }) %>
                </li> -->
            </ul>
        </div>
        <div class="fieldset">
            <div class="fieldset-label">Ratios</div>
            <ul class="checkbox-boxes">
                <% const ratios = data.params.getAll('ratios') %>
                <% data.filtersValues.ratios.forEach(ratio => { %>
                    <li class="checkbox-box">
                        <%- include('../templates/checkbox.ejs', {
                            name: 'ratios', id: ratio, label: ratio, labelVisible: ratio, checked: ratios.includes(ratio)
                        }) %>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="fieldset fieldset-search">
            <input class="search-input" type="text" title="Search a name" id="search" name="search" placeholder="Search" value="<%= data.params.get('search') %>">
        </div>
        <div class="fieldset">
            <% const gridSize = data.params.get('grid-size') || 25 %>
            <div class="fieldset-label">View</div>
            <input class="filters-grid-size input-range" type="range" name="grid-size" min="10" max="50" value="<%= gridSize %>" title="Change the size of the grid">
        </div>
    </form>
</div>